springdoc:
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method
    tags-sorter: alpha
  api-docs:
    path: /v3/api-docs
xtremand:
  security:
    reset-password:
      token-validity-hours: 1
